root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2

[*.md]
ij_formatter_enabled = false
indent_style = unset
indent_size = unset
trim_trailing_whitespace = false
